replicaCount: 1
image:
  repository: docker.pkg.github.com/web-seven/helm-github/helm-github-plugin-proxy
  pullPolicy: IfNotPresent
  tag: ""
imagePullSecrets: 
nameOverride: 
fullnameOverride: 
serviceAccount:
  create: true
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 80
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
